.advantages {
  text-align: center;
  background-color: #f2f2f2;
}

.advantages__promo {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.advantages__slogan {
  @include container();
  font-size: 24px;
  line-height: 1.25;
  font-weight: lighter;

  &--wide {
    margin-bottom: 25px;
  }
}

.advantages__inner {
  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat;
  background-size: contain;
}

.advantages__wrapper {
  @include container();
  display: flex;
  flex-direction: column;
}

.advantages__list {
  @include list-reset();
  padding-top: 84px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.advantages__item {
  padding: 0 9px;
  margin-bottom: 35px;
}

.advantages__item-photo {
  display: none;
}

.advantages__item-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
  color: #000000;
}

.advantages__item-text {
  margin: 0;
  letter-spacing: 0.4px;
}

.advantages__photo {
  height: 277px;
  overflow: hidden;
}

@media #{$tablet} {
  .advantages__promo {
    padding-top: 48px;
    padding-bottom: 42px;
  }

  .advantages__slogan {
    font-size: 40px;

    &--wide {
      margin-bottom: 0;
    }

    &--narrow {
      padding: 0 40px;
    }
  }

  .advantages__wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .advantages__list {
    padding-top: 76px;
    padding-left: 8px;
    width: 320px;
    text-align: left;
    line-height: 24px;
  }


  .advantages__item {
    padding: 0;
    margin-bottom: 35px;
  }

  .advantages__item-text {
    letter-spacing: 0.3px;
  }

  .advantages__photo {
    margin-top: 4px;
    height: 480px;
    width: 270px;
  }
}

@media #{$desktop} {
  .advantages__promo {
    padding-top: 68px;
    padding-bottom: 77px;
  }

  .advantages__slogan {
    font-size: 50px;
    line-height: 1.2;

    &--narrow {
      padding: 0 140px;
    }
  }

  .advantages__photo {
    display: none;
  }

  .advantages__list {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .advantages__item {
    padding: 0;
    display: flex;
    width: 300px;
    flex-direction: column;
  }

  .advantages__item-photo {
    display: block;
    margin-bottom: 48px;
  }

  .advantages__item-title {
    margin: 0 auto 24px;
    width: 240px;
    font-size: 30px;
    line-height: 1;
  }

  .advantages__item-text {
    width: 240px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.67;
  }
}
