.contest-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.contest-form__promo {
  @include container();
  padding-top: 45px;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.3px;
}

.contest-form__promo-text {
  display: none;
}

.contest-form__group {
  margin: 0;
  padding: 0;
  border: none;

  &--fullname {
    padding-bottom: 2px;
  }

  &--progress {
    padding-top: 70px;
    background-color: #f2f2f2;
  }

  &--contacts {
    padding-top: 35px;
    padding-bottom: 4px;
  }

  &--app {
    padding-top: 66px;
    background-color: #f2f2f2;
  }

  &--describe {
    padding-top: 24px;
    margin-bottom: 44px;
  }
}

.contest-form__list {
  @include list-reset();
  @include container();
  display: flex;
  flex-direction: column;
}

.contest-form__item {
  display: flex;
  flex-direction: column;

  &--fullname {
    margin-bottom: 21px;
  }

  &--checkbox {
    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 47px;
    }
  }

  &--contacts {
    margin-bottom: 21px;
  }

  &--radio {
    margin-bottom: 45px;
  }
}

.contest-form__label {
  padding-left: 22px;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  letter-spacing: 0.35px;
}

.contest-form__field {
  height: 63px;
  padding-left: 20px;
  width: 100%;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  letter-spacing: 0.5px;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.contest-form__legend {
  margin: 0 auto 30px;
  padding: 0;
  width: 230px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  transform: translateY(58px);
  letter-spacing: 0.3px;

  &--hide {
    display: none;
  }

  &--describe {
    transform: translateY(40px);
  }
}

.contest-form__checkbox {
  display: none;
}

.contest-form__checkbox-label {
  position: relative;
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  letter-spacing: 0.35px;
}

.contest-form__checkbox + .contest-form__checkbox-label {
  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }
}

.contest-form__checkbox:checked + .contest-form__checkbox-label {
  &::before {
    background: #ffffff url("../img/icon-checkbox-yes.svg") no-repeat center;
  }
}

.contest-form__checkbox:hover + .contest-form__checkbox-label {
  &::before {
    border: 2px solid #283645;
  }
}

.contest-form__checkbox:active + .contest-form__checkbox-label {
  &::before {
    border: 2px solid #d22856;
  }
}

.contest-form__radio-label {
  position: relative;
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  letter-spacing: 0.3px;
}

.contest-form__radio {
  display: none;
}

.contest-form__radio + .contest-form__radio-label {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 50%;
    width: 39px;
    height: 39px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    &::before {
      border: 2px solid #283645;
    }
  }

  &:active {
    &::before {
      border: 2px solid #d22856;
    }
  }
}

.contest-form__radio:checked + .contest-form__radio-label {
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    bottom: 50%;
    left: 12px;
    background-color: #d22856;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.contest-form__textarea-wrapper {
  @include container();
}

.contest-form__textarea {
  width: 100%;
  padding: 15px 18px;
  min-height: 200px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  letter-spacing: 0.4px;
  border: 2px solid #f2f2f2;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.contest-form__button-wrapper {
  margin-bottom: 16px;
}

.contest-form__button {
  display: block;
  width: 280px;
  margin: 0 auto 34px;
  padding: 17px 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #2aab6d;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    color: #ffffff;
    background-color: #e5e5e5;
  }

  &--notice {
    margin-bottom: 0;
  }
}

.contest-form__reminder {
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3px;

  b {
    color: #d22856;
  }

  span {
    display: none;
  }
}

.contest-form__notice {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  margin-top: 40px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 13px 15px -5px rgba(0, 0, 0, 0.15);

  &--sent {
    display: none;
  }

  &--error {
    display: none;
  }
}

.contest-form__notice-content {
  padding: 45px 20px 40px;
}

.contest-form__notice-title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.contest-form__notice-text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.contest-form__notice-bg {
  padding: 30px 0;
  background-color: #f2f2f2;
}

@media #{$tablet} {
  .contest-form {
    @include container();
  }

  .contest-form__promo {
    padding-top: 92px;
    margin-bottom: 71px;
    width: 510px;
    font-size: 18px;
    order: -4;
  }

  .contest-form__promo-text {
    display: block;
  }

  .contest-form__group {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;

    &--fullname {
      margin-bottom: 5px;
      border: none;
      order: -3;
    }

    &--app {
      margin-bottom: 57px;
      padding-top: 18px;
      padding-bottom: 13px;
      order: -2;
    }

    &--contacts {
      padding: 7px 42px 0;
      margin-bottom: 58px;
      order: -1;
    }

    &--progress {
      padding: 17px 0 6px;
      margin-bottom: 58px;
    }

    &--describe {
      padding-top: 6px;
      padding-bottom: 51px;
      margin-bottom: 67px;
    }
  }

  .contest-form__list {
    &--fullname {
      width: 100%;
    }

    &--app {
      padding-left: 40px;
    }
  }

  .contest-form__item {
    flex-direction: row;

    &--fullname {
      margin-bottom: 52px;
    }

    &--contacts {
      margin-bottom: 17px;
      flex-direction: column;

      &:last-child {
        margin-bottom: 12px;
      }

      .contest-form__label {
        padding-top: 13px;
        padding-left: 19px;
        order: 1;
      }
    }
  }

  .contest-form__label {
    padding: 21px 20px 16px 0;
    margin: 0;
  }

  .contest-form__legend {
    width: auto;
    padding: 0 30px;
    transform: translateY(0);

    &--hide {
      display: block;
    }
  }

  .contest-form__radio-label {
    padding-left: 60px;
  }

  .contest-form__input-wrapper {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 63px;
      height: 63px;
      top: 0;
      right: 0;
    }

    &--tel {
      &::before {
        background: #e5e5e5 url("../img/icon-phone.svg") no-repeat center;
      }
    }

    &--email {
      &::before {
        background: #e5e5e5 url("../img/icon-mail.svg") no-repeat center;
      }
    }
  }

  .contest-form__checkbox-label {
    padding-left: 100px;
  }

  .contest-form__checkbox + .contest-form__checkbox-label {
    &::before {
      left: 40px;
    }
  }

  .contest-form__textarea-wrapper {
    display: flex;
  }

  .contest-form__textarea {
    margin: 0 auto;
    width: 500px;
    min-height: 193px;
  }

  .contest-form__button-wrapper {
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contest-form__button {
    width: 300px;
    margin: 0;

    &--notice {
      margin: 0 auto;
    }
  }

  .contest-form__reminder {
    width: 280px;
    margin: 0;
    text-align: right;
  }

  .contest-form__notice {
    width: 460px;
    box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.15), -7px 7px 15px 0 rgba(0, 0, 0, 0.15);
  }

  .contest-form__notice-content {
    padding-right: 80px;
    padding-left: 80px;
  }

  .contest-form__notice-title {
    font-size: 30px;
    line-height: 40px;
  }

  .contest-form__notice-text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media #{$desktop} {
  .contest-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contest-form__promo {
    width: 770px;
  }

  .contest-form__promo-text {
    display: inline-block;
    vertical-align: top;
  }

  .contest-form__group {
    &--fullname {
      width: 450px;
      margin-right: 54px;
      padding-top: 13px;
    }

    &--app {
      flex-grow: 1;
    }

    &--contacts {
      padding-top: 4px;
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 56px;
      width: 100%;
    }

    &--progress {
      padding-top: 18px;
    }

    &--describe {
      padding-right: 33px;
      padding-bottom: 42px;
      padding-left: 33px;
      margin-bottom: 65px;
      width: 100%;
    }
  }

  .contest-form__list {
    &--fullname {
      padding-right: 15px;
    }

    &--app {
      padding-left: 62px;
    }

    &--progress {
      margin-left: 58px;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &--contacts {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .contest-form__input-wrapper {
    width: 375px;
  }

  .contest-form__item {
    &--contacts {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--checkbox {
      width: 29.5%;
    }

    &--selfie {
      order: -3;
    }

    &--chuck {
      order: -2;
    }

    &--tower {
      order: -1;
    }
  }

  .contest-form__checkbox-label {
    width: 290px;
    padding-left: 60px;
  }

  .contest-form__checkbox + .contest-form__checkbox-label {
    &::before {
      left: 0;
    }
  }

  .contest-form__textarea {
    width: 836px;
    min-height: 128px;
    flex-grow: 1;
  }

  .contest-form__button-wrapper {
    width: 100%;
    margin-bottom: 0;
  }

  .contest-form__reminder {
    width: 320px;

    span {
      display: inline-block;
      vertical-align: top;
    }
  }

  .contest-form__notice {
    width: 780px;
  }

  .contest-form__notice-content {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .contest-form__button {
    &--notice {
      &--sent {
        width: 456px;
      }
    }
  }
}
