.copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.copyright__text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 1.29;
}

@media #{$desktop} {
  .copyright__text {
    font-size: 18px;
    line-height: 1;
  }
}
