.feedback {
  @include container();
  padding-top: 42px;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.feedback__promo {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
}

.feedback__contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.feedback__tel,
.feedback__email,
.feedback__address {
  margin: 0 auto 20px;
  width: 240px;
}

.feedback__title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
}

.feedback__text {
  font-size: 24px;
  font-weight: lighter;
  line-height: normal;
  color: #d22856;
  text-decoration: none;
}

.feedback__tel {
  .feedback__text {
    &:hover {
      color: #283645;
    }

    &:active {
      color: rgba(40, 54, 69, 0.3);
    }
  }
}

.feedback__email {
  .feedback__text {
    &:hover {
      color: #283645;
    }

    &:active {
      color: rgba(40, 54, 69, 0.3);
    }
  }
}

@media #{$tablet} {
  .feedback {
    padding-top: 46px;
    padding-bottom: 22px;
  }

  .feedback__promo {
    margin-bottom: 44px;
    font-size: 40px;
    line-height: 48px;
  }

  .feedback__contacts-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__tel,
  .feedback__email,
  .feedback__address {
    margin: 0;
    width: 300px;
  }

  .feedback__address {
    margin: 47px auto 0;
  }
}

@media #{$desktop} {
  .feedback {
    padding-top: 65px;
    padding-bottom: 5px;
  }

  .feedback__promo {
    margin-bottom: 55px;
    font-size: 50px;
    line-height: 60px;
  }

  .feedback__contacts-wrapper {
    align-items: stretch;
  }

  .feedback__address {
    margin: 0;
  }

  .feedback__email {
    order: 1;
  }

  .feedback__title {
    margin-bottom: 23px;
  }
}
