.main-nav {
  width: auto;
  box-shadow: 0 1px 0 0 #000000;

  &--opened {
    background-color: #263341;
  }

  &--closed {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__logo {
  padding: 26px 20px 20px;
}

.main-nav__logo-svg {
  &--desktop {
    display: none;
  }

  &--tablet {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 14px;
  background-color: transparent;
  border: none;
}

.main-nav--opened .main-nav__toggle-closed {
  display: none;
}

.main-nav--closed .main-nav__toggle-opened {
  display: none;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  @include list-reset();
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #263341;
}

.main-nav__item {
  border-bottom: 1px solid #000000;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);

  &:first-child {
    border-top: 1px solid #000000;
  }
}

.main-nav__link {
  display: block;
  padding: 16px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

@media #{$notdesktop} {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media #{$tablet} {
  .main-nav__logo {
    padding-top: 27px;
    padding-bottom: 42px;
  }

  .main-nav__toggle {
    top: 45px;
  }

  .main-nav__logo-svg {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

@media #{$desktop} {
  .main-nav {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__wrapper {
    @include container();
    display: flex;
    align-content: center;
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .main-nav__logo {
    padding: 0;
    margin-right: 173px;
  }

  .main-nav__logo-svg {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
      min-width: 147px;
      height: 40px;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;
  }

  .main-nav__item {
    box-shadow: none;
    border: none;

    &:first-child {
      border: none;
    }
  }

  .main-nav__link {
    font-weight: normal;
    line-height: 1;
    text-transform: none;
  }
}
