.main-nav {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__toggle {
  background-color: transparent;
  border: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  padding: 16px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
