.page-footer {
  @include container();
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--hide {
    display: none;
  }
}

.page-footer__logo {
  margin-bottom: 32px;
}

.page-footer__social {
  margin-bottom: 38px;
}

.page-footer__logo-link {
  color: #283645;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: #283645;
    opacity: 0.3;
  }
}

.page-footer__logo-svg-letter {
  fill: currentColor;
}

.page-footer__logo-desktop {
  display: none;
}

@media #{$tablet} {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;

    &--hide {
      display: flex;
    }
  }

  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    width: 29%;
    margin-bottom: 0;
  }
}

@media #{$desktop} {
  .page-footer {
    padding-top: 74px;
    padding-bottom: 70px;
    align-items: stretch;
  }

  .page-footer__logo-svg {
    display: none;
  }

  .page-footer__logo-desktop {
    display: block;
  }
}
