.page-footer {
  background-color: #ffffff;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: solid 3px #283645;
  border-radius: 50%;

  &--fb {
    background: url("../../img/icon-facebook.svg") no-repeat center;
  }

  &--tw {
    background: url("../../img/icon-twitter.svg") no-repeat center;
  }

  &--yt {
    background: url("../../img/icon-youtube.svg") no-repeat center;
  }
}

.copyright__text {
  line-height: 1.29;
}
