.page-header {
  display: flex;
  flex-direction: column;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__title {
  @include container();
  padding-top: 25px;
  padding-bottom: 80px;
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.33;
  color: #ffffff;
  text-align: center;

  &--form {
    padding-top: 26px;
    padding-bottom: 55px;
    line-height: 1.24;
  }
}

.page-header__photo {
  padding-top: 113px;
  margin-bottom: -7px;
}

@media #{$tablet} {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__photo {
    display: none;
  }

  .page-header__title {
    padding-top: 67px;
    padding-bottom: 138px;
    font-size: 50px;
    line-height: 1.25;

    &--form {
      padding-top: 69px;
      padding-bottom: 77px;
      line-height: 1.23;
    }
  }
}

@media #{$desktop} {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header__title {
    padding-top: 60px;
    padding-bottom: 100px;

    &--photo {
      width: 360px;
    }

    &--form {
      padding-top: 62px;
    }
  }
}
