.price {
  padding: 40px 0;
  background: #f2f2f2 url("../img/bg-triangle-white.svg") no-repeat;
  background-size: contain;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

.price__table {
  padding-top: 46px;
  margin-bottom: 30px;
  width: 830px;
  text-transform: uppercase;
  overflow: hidden;

  &--mobile {
    transform: translateX(-30.8%);
  }

  td {
    padding: 13px 25px 15px 22px;
    line-height: 30px;
    background-color: #ffffff;
    border-bottom: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
  }

  th {
    padding: 17px 25px;
    line-height: 30px;
  }
}

.price__tariff {
  text-align: center;
  background-color: #283645;
  border-right: 2px solid #283645;

  &--hide {
    display: none;
    border: none;
  }

  &--standart {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      background-image: url("../img/bg-hit.svg");
    }

    &::after {
      content: "Хит";
      position: absolute;
      top: 12px;
      left: 12px;
      line-height: 26px;
      color: #ffffff;
      transform: rotate(-45deg);
    }
  }
}

.price__tariff-name {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #ffffff;
}

.price__tariff-value {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
}

.price__item {
  display: block;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: left;

  &--hide {
    display: none;
  }
}

.price__checked {
  background-color: #ffffff;

  &--yes {
    background: url("../img/icon-yes.svg") no-repeat 94% center;
    background-size: 31px 21px;
  }

  &--no {
    background: url("../img/icon-no.svg") no-repeat 94% center;
    background-size: 27px 26px;
  }
}

.price__table-control {
  align-self: center;
}

@media #{$tablet} {
  .price {
    padding-bottom: 36px;
  }

  .price__wrapper {
    @include container();
  }

  .price__table {
    margin-left: auto;
    margin-right: auto;
    width: 620px;

    &--mobile {
      transform: translateX(0);
    }

    td,
    th {
      padding: 12px 18px 5px 19px;
    }
  }

  .price__tariff {
    width: 157px;

    &--hide {
      display: block;
    }

    &--standart {
      &::before {
        width: 61px;
        height: 61px;
        background-image: url("../img/bg-hit-tablet.svg");
      }

      &::after {
        top: 6px;
        left: 6px;
      }
    }
  }

  .price__tariff-name {
    font-size: 16px;
    line-height: 30px;
  }

  .price__tariff-value {
    font-size: 18px;
    line-height: 30px;
  }

  td.price__item {
    width: 157px;
    padding: 4px 10px 9px 15px;
  }

  .price__item {
    font-size: 14px;
    line-height: 30px;
    text-transform: none;

    &--hide {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }

  .price__checked {
    background-position: center;
  }

  .price__table-control {
    display: none;
  }
}

@media #{$desktop} {
  .price {
    padding-bottom: 62px;
  }

  .price__wrapper {
    padding-top: 56px;
  }

  .price__table {
    padding-top: 56px;
    width: 100%;

    th {
      padding-top: 16px;
      padding-bottom: 19px;
    }

    td {
      padding: 10px 17px 17px 20px;
    }
  }

  .price__tariff {
    width: 236px;
  }

  .price__tariff-name {
    font-size: 18px;
  }

  .price__tariff-value {
    font-size: 24px;
  }

  td.price__item {
    width: 236px;
    font-size: 18px;
  }
}
