.research {
  display: none;
}

@media #{$tablet} {
  .research {
    display: block;
  }

  .research__inner {
    @include container();
    display: flex;
    justify-content: flex-end;
    padding-top: 56px;
    padding-bottom: 50px;

    &::before {
      content: "24";
      display: block;
      margin-right: auto;
      width: 240px;
      height: 276px;
      font-size: 96px;
      line-height: 295px;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      color: #d22856;
      background:
        url("../img/icon-editor-diagram-fill.svg") no-repeat center 56px,
        url("../img/icon-timer.svg") no-repeat center;
      background-size: 202px 202px, 240px auto;
    }
  }

  .research__wrapper {
    padding-top: 38px;
    width: 310px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .research__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: #000000;

    span {
      display: block;
    }
  }

  .research__text {
    margin: 0;
    margin-bottom: 10px;
    max-width: 100%;
    letter-spacing: 0.35px;
    line-height: 24px;
  }

  .research__link {
    display: block;
    color: #d22856;
    letter-spacing: 0.2px;
  }
}

@media #{$desktop} {
  .research {
    background-color: #f2f2f2;
  }

  .research__inner {
    padding-top: 30px;
    padding-bottom: 67px;

    &::before {
      width: 298px;
      height: 345px;
      font-size: 120px;
      line-height: 375px;
      background:
        url("../img/icon-editor-diagram-fill.svg") no-repeat center 70px,
        url("../img/icon-timer.svg") no-repeat center;
      background-size: 253px 253px, 298px auto;
    }
  }

  .research__wrapper {
    width: 525px;
    margin-top: 55px;
    margin-right: 49px;
  }

  .research__title {
    margin-bottom: 26px;
    line-height: 1;

    span {
      display: inline-block;
      vertical-align: top;
    }
  }

  .research__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.35px;
  }

  .research__link {
    font-size: 18px;
    line-height: 1.67;
  }
}
