.upload {
  background-color: #f2f2f2;

  img {
    width: 100%;
  }
}

.upload__form {
  @include container();
  text-align: center;
}

.upload__photo {
  margin-bottom: 35px;
  padding-top: 20px;
}

.upload__filter-list {
  @include list-reset;
  position: relative;
  margin: 0 auto 32px;
  padding-right: 12px;
  padding-bottom: 32px;
  width: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload__icon {
  color: #283645;

  &:hover {
    .upload__color {
      opacity: 0.5;
    }
  }
}

.upload__color {
  fill: currentColor;
  opacity: 0.3;

  &--active {
    fill: #d22856;
  }
}

.upload__range {
  width: 240px;
  height: 2px;
  background-color: #283645;
  position: relative;

  &--hide {
    display: none;
  }

  &--active {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
}

.upload__range-circle {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer;

  &--crop {
    right: 35px;
  }

  &:active {
    background-color: #d22856;
  }
}

.upload__buttons {
  padding-top: 40px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #dedede;
}

.upload__btn {
  display: block;
  padding: 11px 0;
  width: 280px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  border-radius: 45px;
  background-color: transparent;

  &--post {
    margin-bottom: 12px;
    color: #d22856;
    letter-spacing: 0.8px;
    border: 3px solid #d22856;

    &:hover {
      color: #ffffff;
      background-color: #d22856;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--cancel {
    color: #283645;
    border: 3px solid #283645;
    opacity: 0.1;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #283645;
    }
  }
}

@media #{$tablet} {
  .upload {
    padding-top: 37px;
    padding-bottom: 39px;
  }

  .upload__form {
    display: flex;
    justify-content: space-between;
  }

  .upload__filter {
    padding-right: 13px;
  }

  .upload__photo {
    width: 300px;
    height: 400px;
  }

  .upload__filter-list {
    margin: 0;
    margin-bottom: 36px;
    padding-top: 4px;
    padding-right: 0;
    flex-direction: column;
  }

  .upload__filter-item {
    padding: 25px 0 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dedede;
  }

  .upload__icon {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d22856;

    &:hover {
      .upload__color {
        opacity: 1;
      }
    }
  }

  .upload__color {
    opacity: 1;
  }

  .upload__icon-crop {
    width: 22px;
    height: 22px;
  }

  .upload__icon-fill {
    width: 24px;
    height: 22px;
  }

  .upload__icon-contrast {
    width: 16px;
    height: 16px;
  }

  .upload__range {
    position: relative;
    width: 202px;

    &--hide {
      display: block;
    }

    &--active {
      position: relative;
      left: auto;
      right: auto;
      bottom: auto;
      transform: none;
    }
  }

  .upload__range-circle {
    &--crop {
      right: 41px;
    }

    &--fill {
      left: 25px;
    }
  }

  .upload__buttons {
    padding: 0;
    border: none;
  }

  .upload__btn {
    width: 260px;
    letter-spacing: 0.9px;

    &--post {
      margin-bottom: 25px;
    }
  }
}

@media #{$desktop} {
  .upload {
    @include container();
    margin-bottom: 28px;
  }

  .upload__form {
    padding-left: 52px;
    padding-right: 20px;
    padding-bottom: 3px;
    justify-content: stretch;
  }

  .upload__filter {
    width: 420px;
    margin-left: auto;
  }

  .upload__filter-list {
    width: 100%;
    margin-bottom: 113px;
  }

  .upload__filter-item {
    width: 410px;
    height: 72px;
    padding-right: 30px;
    padding-left: 0;
  }

  .upload__icon {
    margin-right: 40px;
  }

  .upload__icon-crop {
    width: 44px;
    height: 44px;
  }

  .upload__icon-fill {
    width: 48px;
    height: 43px;
  }

  .upload__icon-contrast {
    width: 32px;
    height: 32px;
  }

  .upload__range {
    width: 288px;
  }

  .upload__range-circle {
    &--crop {
      right: 203px;
    }

    &--fill {
      left: 247px;
    }

    &--contrast {
      right: 115px;
    }
  }

  .upload__buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .upload__btn {
    width: 183px;

    &--post {
      margin-bottom: 0;
    }
  }
}
