@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/download.scss";
@import "blocks/advantages.scss";
@import "blocks/research.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/feedback.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/gallery.scss";
@import "blocks/contest-form.scss";
@import "blocks/upload.scss";
